:root {
  /* ------------------------------- Font Family ------------------------------ */
  --font-family-antonio: 'Antonio', sans-serif;
  --font-family-spartan: 'League Spartan', sans-serif;

  /* ------------------------------ Color System ------------------------------ */
  --white: #fff;
  --midnight-blue: #070724;
  --slate-gray: #38384F;
  --cool-gray: #838391;
  --sky-blue: #419EBB;
  --amber: #EDA249;
  --purple: #6F2ED6;
  --orange-red: #D14C32;
  --fire-engine-red: #D83A34;
  --dark-orange: #CD5120;
  --teal: #1EC2A4;
  --royal-blue: #2D68F0;

  --color-bg: #070724;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-spartan);
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--white);

}