@use '../abstract/mixins' as *;

:root {
  /* ------------------------------- Font Family ------------------------------ */
  --font-family-antonio: 'Antonio', sans-serif;
  --font-family-spartan: 'League Spartan', sans-serif;

  /* ------------------------------ Color System ------------------------------ */
  --white: #fff;
  --midnight-blue: #070724;
  --slate-gray: #38384F;
  --cool-gray: #838391;

  --color-mercury: #419EBB;
  --color-venus: #EDA249;
  --color-earth: #6F2ED6;
  --color-mars: #D14C32;
  --color-jupiter: #D83A34;
  --color-saturn: #CD5120;
  --color-uranus: #1EC2A4;
  --color-neptune: #2D68F0;

  --color-bg: #070724;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-spartan);
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--white);
  background-image: url('../../images/background-stars.svg');
  background-size: cover;

}